name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install latest stable
      uses: actions-rs/toolchain@v1
      with:
          toolchain: stable
          override: true
          components: rustfmt, clippy
    - name: Build
      run: cargo build --verbose --all-targets
    - name: Run Clippy against main lib
      run: cargo clippy --workspace --exclude tests
    - name: Run tests
      run: cargo test --verbose
    - name: Rust Format
      run: cargo fmt -- --check
